Package: com.itzzace.ytkace
Name: YTKACE + Yandex
Version: 1.1.0-yandex.9
Architecture: iphoneos-arm64
Description: Open-source YouTube enhancement with downloads, SponsorBlock, background playback and interface controls
Maintainer: lilmuff2
Author: itzzace
Section: Tweaks
Depends: mobilesubstrate | ellekit, firmware (>= 15.0)
Homepage: https://github.com/lilmuff2/ytkace
Tag: role::enduser
